.skill-card {
    width: 30%; /* Fixed width for each card */
    height: 150px!important; /* Fixed height for each card */
    margin-bottom: 20px; /* Add spacing between rows */
    flex-grow: 1; /* Ensure consistent card size in flex container */
    border: 2px solid transparent; /* Initial transparent border */
    transition: border-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Add the border animation on hover */
.skill-card:hover {
    transform: scale(1.05); /* Slightly enlarge the card */
}
.d-flex {
    gap: 2%; /* Add spacing between cards */
    justify-content: space-between; /* Default distribution for even rows */
}

.d-flex.center-last-row {
    justify-content: center; /* Center the last row with fewer items */
}

@media (max-width: 768px) {
    .skill-card {
        width: 100%; /* Full width on smaller screens */
        height: auto; /* Allow height to adjust for content on small screens */
    }
}
