<section id="skills" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5" [ngClass]="toggleState ? 'text-primary' : 'text-warning'">
            <i class="fas fa-code me-2"></i> Skills
        </h2>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card text-center skill-card h-100" *ngFor="let skill of skills" [ngClass]="toggleState ? 'bg-light text-dark' : 'bg-dark text-white'" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <div class="card-body" [ngClass]="{'border-primary': toggleState,'border-warning': !toggleState}" style="border: 2px solid; padding: 20px;">
                    <h5 class="card-title" [ngClass]="toggleState ? 'text-primary' : 'text-warning'">
                        {{ skill.title }}
                    </h5>
                    <div *ngFor="let detail of skill.details">
                        <p class="card-text">{{ detail }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>