.card {
    background: #1a1a1a;
    color: #fff;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}