<section id="contact" class=" py-5">
	<div class="container">
		<h1 class="heading text-center mb-5" [ngClass]="toggleState ? 'text-primary' : 'text-warning'">
			<i class="far fa-address-card"></i> Contact
		</h1>
		<div class="row text-center">
			<!-- Address -->
			<div class="col-md-4 contactDetails mb-4">
				<div class="contactIcon mb-2">
					<i class="fas fa-map-marker-alt fa-2x" [ngClass]="toggleState ? 'text-primary' : 'text-warning'"></i>
				</div>
				<h4>Address</h4>
				<p>Mumbai, Maharashtra 401203</p>
			</div>
			<!-- Phone -->
			<div class="col-md-4 contactDetails mb-4">
				<div class="contactIcon mb-2">
					<i class="fa fa-phone fa-2x" [ngClass]="toggleState ? 'text-primary' : 'text-warning'"></i>
				</div>
				<h4>Phone</h4>
				<p>
					<a href="tel:+917741092166" class="text-decoration-none"   [ngClass]="toggleState ? 'text-black' : 'text-white'">+91 7741092166</a>
				</p>
			</div>
			<!-- Email -->
			<div class="col-md-4 contactDetails mb-4">
				<div class="contactIcon mb-2">
					<i class="far fa-envelope fa-2x" [ngClass]="toggleState ? 'text-primary' : 'text-warning'"></i>
				</div>
				<h4>Email</h4>
				<p>
					<a href="mailto:sachinyad884@gmail.com" class="text-decoration-none"  [ngClass]="toggleState ? 'text-black' : 'text-white'">sachinyad884@gmail.com</a>
				</p>
			</div>
		</div>
	</div>
</section>
