<!-- Contact Component -->
<section id="contact" class=" py-5">
    <div class="container">
      <h1 class="heading text-center mb-5 text-warning">
        <i class="far fa-address-card"></i> Contact
      </h1>
      <div class="row text-center">
        <!-- Address -->
        <div class="col-md-4 contactDetails mb-4">
          <div class="contactIcon mb-2">
            <i class="fas fa-map-marker-alt fa-2x text-warning"></i>
          </div>
          <h4>Address</h4>
          <p>Mumbai, Maharashtra 401203</p>
        </div>
        <!-- Phone -->
        <div class="col-md-4 contactDetails mb-4">
          <div class="contactIcon mb-2">
            <i class="fa fa-phone fa-2x text-warning"></i>
          </div>
          <h4>Phone</h4>
          <p>
            <a href="tel:+917741092166" class="text-white text-decoration-none">+91 7741092166</a>
          </p>
        </div>
        <!-- Email -->
        <div class="col-md-4 contactDetails mb-4">
          <div class="contactIcon mb-2">
            <i class="far fa-envelope fa-2x text-warning"></i>
          </div>
          <h4>Email</h4>
          <p>
            <a href="mailto:sachinyadav25122201@gmail.com" class="text-white text-decoration-none">sachinyad884@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  