<!-- Hero Section -->
<section id="home" class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Text Content (Left) -->
      <div class="col-lg-6 text-lg-start text-center">
        <h1>Hi, I am</h1>
        <h2 class="display-4 fw-bold">Sachin Yadav</h2>
        <p class="lead">Software Developer</p>
        <p class="text-warning">JavaScript | Angular | Php </p>
        <button class="btn btn-warning btn-sm btn-lg btn-block mt-3" style="width: 50%;">My Projects</button>
      </div>
      
      <!-- Image Content (Right) -->
      <div class="col-lg-6 text-center mt-4 mt-lg-0">
        <img
        src="assets/sachin_new_img.jpg"
        alt="Profile picture of Sachin Yadav"
        class="rounded-circle border-warning"
        style="width: 250px; height: 300px; object-fit: cover; border: 5px solid #ffc107 !important;"
        />
      </div>
    </div>
  </div>
</section>
