<section class="py-5" id="experience">
  <div class="container">
    <h2 class="text-center mb-5" [ngClass]="toggleState ? 'text-primary' : 'text-warning'">
      <i class="fas fa-briefcase me-2"></i> Work Experience
    </h2>
    <div class="row justify-content-center">
      <!-- Loop through the workExperience array -->
      <div *ngFor="let experience of workExperience" class="col-md-6 col-lg-4 mb-4" data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="card text-white skill-card h-100" [ngClass]="{'border-primary': toggleState, 'border-warning': !toggleState}">
          <div class="card-body">
            <h3 class="h5" [ngClass]="toggleState ? 'text-dark' : 'text-white'">{{ experience.company }}
              <span class="d-block h6" [ngClass]="toggleState ? 'text-primary' : 'text-warning'">{{ experience.position }}</span>
            </h3>
            <h4 [ngClass]="toggleState ? 'text-dark' : 'text-white'" class="h6">{{ experience.duration }}</h4>
            <p [ngClass]="toggleState ? 'text-dark' : 'text-white'">{{ experience.details1 }}</p>
            <p [ngClass]="toggleState ? 'text-dark' : 'text-white'">{{ experience.details2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
